tests/TRS.MEMCFG.CHECK.005_3/ConfigPSA_NvM.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2006 rel. 3 U (http://www.altova.com) by PSA (PSA / PCA PEUGEOT CITROEN) -->
<!--W3C Schema generated by XMLSpy v2006 rel. 3 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="BLOCK" type="BLOCKType"/>
	<xs:element name="CONFIG_PSA_NVM">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="BLOCKS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="BLOCK" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PROFILS" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="PROFILE" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="REF">
		<xs:annotation>
			<xs:documentation/>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="REF--SIMPLE"/>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="REF--SIMPLE">
		<xs:restriction base="xs:string">
			<xs:pattern value="/?[a-zA-Z][a-zA-Z0-9_]{0,127}(/[a-zA-Z][a-zA-Z0-9_]{0,127})*"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="INTERFACE-TYPE-ENUM">
		<xs:restriction base="xs:string">
			<xs:enumeration value="SENDER-RECEIVER-INTERFACE"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BLOCKType">
		<xs:sequence>
			<xs:element name="SHORT-NAME"/>
			<xs:element name="TYPE"/>
			<xs:element name="PROFIL-REF"/>
			<xs:element name="WRITE-TIMEOUT"/>
			<xs:element name="RESPECT-MAPPING" type="xs:boolean"/>
			<xs:element name="SENDER-RECEIVER-INTERFACE-REFS">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SENDER-RECEIVER-INTERFACE" maxOccurs="unbounded">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="REF">
										<xs:attribute name="DEST" type="INTERFACE-TYPE-ENUM" use="required"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PROFILE" type="PROFILEType"/>
	<xs:complexType name="PROFILEType">
		<xs:sequence>
			<xs:element name="SHORT-NAME"/>
			<xs:element name="MANAGEMENT"/>
			<xs:element name="BLOCK-SIZE-MAX"/>
			<xs:element name="PARAMS">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PARAM" maxOccurs="unbounded">
							<xs:complexType>
								<xs:simpleContent>
									<xs:extension base="xs:string">
										<xs:attribute name="DEST" use="required"/>
									</xs:extension>
								</xs:simpleContent>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
